.page.theme_light {
  
  --main-text-color: #353430;
  --accent-color: #353430;
  --accent-color-transparent: rgba(53, 52, 48, 0.5);
  --title-header-color: #ffc2e6;
  --title-text-color: #353430;
  --page-background-color: #fff1f7;
  --title-background-color: #ff8dcb;
  --link-shadow-color: #ff8dcb;
  --background-image: url(../images/cover-image-light.png);
  --rec-visible: hidden;
}

@media (prefers-color-scheme: light) {

  :root {
    --main-text-color: #353430;
    --accent-color: #353430;
    --accent-color-transparent: rgba(53, 52, 48, 0.5);
    --title-header-color: #ffc2e6;
    --title-text-color: #353430;
    --page-background-color: #fff1f7;
    --title-background-color: #ff8dcb;
    --link-shadow-color: #ff8dcb;
    --background-image: url(../images/cover-image-light.png);
    --rec-visible: hidden;
  }
}
